{{!< default}}
<div class="demo-blog__posts mdl-grid">
  {{#post}}
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50 {{#if image}}" style="background-image: url({{image}}){{else}}no-image{{/if}}">
      <h3>{{title}}</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
        <div class="minilogo" style="background-image: url({{#if author.image}}{{author.image}}{{else}}{{asset "images/default-user.gif"}}{{/if}})"></div>
        <div>
          {{#author}}
          <strong><a href="{{url}}">{{name}}</a></strong>
          {{/author}}
          <span>{{date format="DD MMM YYYY"}}</span>
        </div>  
      <div class="section-spacer"></div>
      {{> share-link}}
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <div class="content-wrapper post">
      {{content}}
      </div>
    </div>
    {{#if tags}}
      <div class="tag-wrap">
        <div class="tag-wrap-inner">
          {{tags separator=" "}}
        </div>
      </div>
    {{/if}}

    {{> prev-next}}
    {{> comment }}
    
  </div>
  {{/post}}
</div>